<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy; YelpCamp 2021 by Gabriel Schincariol Cavalcante (The Web Developer Bootcamp 2021)
        </span>
    </div>
</footer>